[submodule "gallery"]
	path = gallery
	url = git@github.com:live-miracles/gallery.git
[submodule "gallery-ext"]
	path = gallery-ext
	url = git@github.com:live-miracles/gallery-ext.git
[submodule "vmix-master"]
	path = vmix-master
	url = git@github.com:live-miracles/vmix-master.git
[submodule "delayed-yt"]
	path = delayed-yt
	url = git@github.com:live-miracles/delayed-yt.git
[submodule "live-generator"]
	path = live-generator
	url = git@github.com:live-miracles/live-generator.git
[submodule "gcp-monitor"]
	path = gcp-monitor
	url = git@github.com:live-miracles/gcp-monitor.git
