[submodule "gallery"]
	path = gallery
	url = git@github.com:isha-live/gallery.git
[submodule "gallery-ext"]
	path = gallery-ext
	url = git@github.com:isha-live/gallery-ext.git
[submodule "vmix-master"]
	path = vmix-master
	url = git@github.com:isha-live/vmix-master.git
[submodule "delayed-yt"]
	path = delayed-yt
	url = git@github.com:isha-live/delayed-yt.git
[submodule "live-generator"]
	path = live-generator
	url = git@github.com:isha-live/live-generator.git
